*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}
.btn{
    border-radius: 15px;
    background-color:lightseagreen;
    color: white;
    font-weight: 450;
}
.adjust{
    padding-top: 20px;
}
.cal-stu{
    width: 20px;
    height: 20px;
    
  
}
.testmonial-head{
    text-align: center;
    padding-top: 40px;
}
.footer-style{
    width: 100%;
    height: auto;
    background-color:rgb(20, 17, 17);
    color: white;
    padding-top: 50px;
}
.img-fluid{
    height: auto;
    width: 90%;
    padding-left:200px;

}
.testmonial-style{
    height: 220px;
}
.card-footer{
    border: none;
}
footer{
    padding-top: 80px;
}
.ready-learn{
    color: tomato;
   
}
#head-style{
    color: rgb(28, 170, 28);
}
.online-style{
    text-align: center;
    background-color: grey;
}